#!/usr/bin/make -f

export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
export HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
export VERSION ?= $(shell git describe --tags --abbrev=0)

%:
	dh $@ --builddirectory=_build --buildsystem=golang

override_dh_auto_build:
	dh_auto_build -- -ldflags "-X 'github.com/dpeckett/airgapify/internal/constants.Version=$(VERSION)'"

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_test:
ifneq ($(BUILD_ARCH), $(HOST_ARCH))
	@echo "Skipping tests for cross-compilation"
else
	dh_auto_test
endif

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/$(DEB_HOST_MULTIARCH)/lib